.button-orange {
    display: block;
    width: 80%;
    text-align: center;
    font-weight: 700;
    opacity: 1;
    margin: 0 auto .25rem;
    background-color: #2b3175;
    color: #fff;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    border-color: #2b3175;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABbCAYAAAD+6uLgAAAACXBIWXMAABYlAAAWJQFJUiTwAAAB00lEQVR4nO3QiVFCURBFwSMRGKKZmZIZYUmJJfCXt8y8bW6H0G/X6xVp4gP4uui6iZ/sT+Bd4f7u2TcK9/WQjcJdvWSjcDeb2SjcxW42Cjd3mI3CTZ1mo3AzSdko3ERyNgqvlpWNwqtkZ6PwYkXZKLxIcTYKz1aVjcKzVGej8GQm2Sg8iVk2Cj9lmo3CD5lno/BdLtkofJNbNgp/4ZqNwh+4Z6PwP02yUfhNs2wU3jab4OHNswkc3iWboOHdsgkY3jWbYOHdswkUPkQ2QcKHySZA+FDZLB4+XDYLhw+ZzaLhw2azYPjQ2SwWPnw2C4VPkc0i4dNks0D4VNlMHj5dNhOHT5nNpOHTZjNh+NTZTBY+fTYThS+RzSThy2QzQfhS2Qwevlw2A4cvmc2g4ctmM2D40tkMFr58NgOFh8hmkPAw2QwQHiqbzuHhsukYHjKbTuFhs+kQHjqbxuHhs2kYruxfLcKV/Y93uLKfeIYre4NXuLJ3eIQr+4B1uLJPWIYrO4FVuLITWYQrO0NtuLIz1YQru0BpuLILlYQru0JuuLIr5YQr20BquLKNpIQr29BZuLKNHYUr28FeuLKdbIUr29FzuLKd/Q9XdgP3cGU3clF2Q8A3hf1emRAUvrcAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: 100% 95%;
    background-size: 10px 10px;
    transition: background-color .5s ease-in-out;
    outline: none;
}