.button-orange {
    display: block;
    width: 80%;
    text-align: center;
    font-weight: 700;
    opacity: 1;
    margin: 0 auto .25rem;
    background-color: #2b3175;
    color: #fff;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    border-color: #2b3175;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 100% 95%;
    background-size: 10px 10px;
    transition: background-color .5s ease-in-out;
    outline: none;
}