@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.blue-tri {
  background-image: url('../assets/img/rectangle.svg');
}
.partner-rectangle {
  border: 8px solid #AED6F2;
  background-color: #AED6F2;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.partner-rectangle:before {
  content: '';
  height: 179px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  background: white;
  display: block;
}
.orange {
  background: #e86a24;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 9px 32px;
  border: 2px solid #e86a24;
  border-radius: 0;
  margin: 0 2 rem;
  min-width: 200px;
  background-image: url('../assets/img/bottom_graphic.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 15px 15px;
}
.orange:hover {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.orange:hover {
  background: #fff;
  color: #e86a24;
  border: 2px solid #ad4a12;
}
.hero-img {
  background-image: url("../assets/img/Hero@2x.png");
}
.hero-section {
  width: 100%;
  min-height: 550px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.hero-caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  max-width: 700px;
}
.hero-caption p {
  color: #fff;
  max-width: 700px;
}
.hero-caption h1 {
  color: #fff;
  margin-bottom: 1rem
}
.blue-partners-square-img {
  background-image: url("../assets/img/cloud-services.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.blue-delivers-square-img {
  background-image: url("../assets/img/rectangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/img/bottom_graphic1.jpg");
  bottom: 0;
  min-height: 350px;
  padding: 75px 50px 50px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap
}
.nav-transparent {
  background: transparent!important;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, .9)
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #fff
}
.headerBody .navbar .navbar-brand {
  padding: 1.3rem 0 0 18rem;
  margin: 0
}
.headerBody .navbar .navbar-brand .logo,
.headerBody .navbar .navbar-brand .logo img {
  margin: 0;
  padding: 0
}
.headerBody .navbar .navbar-brand {
  padding: 1.3rem 0 0 18rem;
  margin: 0
}
.headerBody .navbar .navbar-brand .logo,
.headerBody .navbar .navbar-brand .logo img {
  margin: 0;
  padding: 0
}
@media (max-width:1399.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 6rem
  }
}
@media (max-width:1199.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 4rem
  }
}
@media (max-width:991.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 2rem
  }
}
@media (max-width:767.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 1rem
  }
}
.headerBody .navbar .nav-pills {
  background: #fff;
  transform: skew(-45deg);
  position: relative;
  right: -3.5em;
  width: 925px;
  display: inline-flex
}
.nav-pills {
  color: #F2F2F2;
  z-index: 999;
}
.headerBody .navbar .nav-pills .nav-item {
  transform: skew(0deg)
}
.headerBody .navbar .nav-pills .nav-item .nav-link {
  border-radius: 0;
  color: #2b3175;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 2rem 2rem .75rem;
  text-align: center;
  background-color: transparent;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .nav-link .navitemhighlight {
  transform: skew(45deg);
  width: 85px;
  outline: none
}
@media (max-width:991.98px) {
  .headerBody .navbar .nav-pills .nav-item .nav-link .navitemhighlight {
    transform: skew(0deg);
    width: 100%;
    padding: 0 1rem
  }
}
.headerBody .navbar .nav-pills .nav-item .nav-link:hover {
  color: #e86a24;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .nav-link:active,
.headerBody .navbar .nav-pills .nav-item .nav-link:focus {
  outline: none
}
	
@media (max-width:991.98px) {
  .headerBody .navbar .nav-pills .nav-item .nav-link {
    padding: .75rem 0;
    text-align: center;
    display: block;
    width: 100%
  }
}	
.headerBody .navbar .nav-pills .nav-item .nav-link.active,
.headerBody .navbar .nav-pills .nav-item .show>.nav-link {
  color: #fff;
  background-color: #e86a24
}

.headerBody .navbar .nav-pills .nav-item .langSelect {
  transform: skew(45deg);
  padding: .75rem 1rem 0;
  text-align: center;
  min-width: 150px
}
	
.headerBody .navbar .nav-pills {
  background: #fff;
  transform: skew(-45deg);
  position: relative;
  right: -3.5em;
  width: 925px;
  display: inline-flex
}

.headerBody .navbar .nav-pills .nav-item {
  transform: skew(0deg)
}
	
.headerBody .navbar .nav-pills .nav-item .nav-link {
  border-radius: 0;
  color: #2b3175;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 2rem 2rem .75rem;
  text-align: center;
  background-color: transparent;
  outline: none
}

.headerBody .navbar .nav-pills .nav-item .nav-link .navitemhighlight {
  transform: skew(45deg);
  width: 85px;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .nav-link.active,
.headerBody .navbar .nav-pills .nav-item .show>.nav-link {
  color: #fff;
  background-color: #e86a24
}
.headerBody .navbar .nav-pills .nav-item .langSelect a:hover {
  color: #e86a24;
  opacity: 1;
  transition: opacity .5s ease-in-out
}
.headerBody .navbar .nav-pills .nav-item .langSelect .active {
  opacity: 1;
  transition: opacity .5s ease-in-out
}
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary {
  display: block;
  width: 80%;
  text-align: center;
  font-weight: 700;
  opacity: 1;
  margin: 0 auto .25rem;
  background-color: #2b3175;
  color: #fff;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  border-color: #2b3175;
  
  background-repeat: no-repeat;
  background-position: 100% 95%;
  background-size: 10px 10px;
  transition: background-color .5s ease-in-out;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary:hover {
  background: #e86a24;
  border-color: #e86a24;
  color: #fff;
  transition: background-color .5s ease-in-out
}
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary:active,
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary:focus {
  outline: none
}

.outline-something {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

.icon-css-tony {
  margin: auto;
  width: 4.5em;
  position: relative;
  bottom: 35px;
  display: flex;
}
.cards-margin {
  
}
.hero-section:before{
  content:'';
  position:absolute;
  left:0;
  background: white ;
  width:100%;
  height:90px;
  -moz-background-size:100% 45px;
  -webkit-background-size:100% 45px;
  background-size:100% 45px;
  clip-path: polygon(49% 100%, 34% 0, 100% 0, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 100%);
}
.tony-z-index {
  z-index: 333;
}
.col {
  text-align: center;
}
.col > p {
  text-align: left;
  margin-bottom: 24
}
.tony-table-section {
  display: flex;
  flex-wrap: wrap;
}
.tony-table-section  > h3 {
  color:#E86A24;
}
.tony-table-section .col {
  flex: 1 1 auto;
}
.tony-table-section .line-break {
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}
.dot {
  height: 25px;
  width: 25px;
  background-color:#E86A24;
  border-radius: 50%;
  display: inline-block;
}
.tony-span-table {
  display: flex;
  justify-content: space-evenly;
}
.tony-table-section {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .hero-section:before {
  } 
  .flex {
    display: flex;
  }
  .icon-css-tony {
    width: 4.5em;
    position: static;
  }
  .tony-css {
    display: flex;
    margin-left: 18px;
  }
}

.form-modal {
  background: #F2F2F2;
  border: 1px solid #D8D8D8;
  color: black;
}

@keyframes modal-video {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes modal-video-inner {
	from {
		transform: translate(0, 100px)
	}
	to {
		transform: translate(0, 0)
	}
}

.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	animation-timing-function: ease-out;
	animation-duration: .3s;
	animation-name: modal-video;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out
}

.modal-video-effect-exit {
	opacity: 0
}

.modal-video-effect-exit .modal-video-movie-wrap {
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	-ms-transform: translate(0, 100px);
	-o-transform: translate(0, 100px);
	transform: translate(0, 100px)
}

.modal-video-body {
	max-width: 940px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: table
}

.modal-video-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%
}

.modal-video-movie-wrap {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	background-color: #333;
	animation-timing-function: ease-out;
	animation-duration: .3s;
	animation-name: modal-video-inner;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-ms-transition: -ms-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out
}

.modal-video-movie-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	top: -35px;
	right: -35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	border: none;
	background: transparent
}

.modal-video-close-btn:before {
	transform: rotate(45deg)
}

.modal-video-close-btn:after {
	transform: rotate(-45deg)
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #fff;
	border-radius: 5px;
	margin-top: -6px
}



.mobile-menu {
  /* padding: .75rem 0; */
  /* top: 100%; */
  /* left: 0; */
  /* z-index: 1000; */
  /* display: none; */
  /* float: left; */
  /* min-width: 10rem; */
  /* padding: .5rem 0; */
  /* margin: .125rem 0 0; */
  /* font-size: 1rem; */
  /* color: #212529; */
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, .15); */
  /* border-radius: .25rem; */
  /* background: blue; */
  position: absolute;
  text-align: center;
  /* top: 80px; */
  right: 55px;
  z-index: 9999;
  width: auto;
  transition: all .15s ease;
  transition: width 2s, height 4s;
  transition-timing-function: ease;
}