@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.partner-rectangle {
  border: 8px solid #AED6F2;
  background-color: #AED6F2;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.partner-rectangle:before {
  content: '';
  height: 179px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  background: white;
  display: block;
}
.orange {
  background: #e86a24;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 9px 32px;
  border: 2px solid #e86a24;
  border-radius: 0;
  margin: 0 2 rem;
  min-width: 200px;
  background-image: url('../assets/img/bottom_graphic.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 15px 15px;
}
.orange:hover {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.orange:hover {
  background: #fff;
  color: #e86a24;
  border: 2px solid #ad4a12;
}
.hero-img {
  background-image: url("../assets/img/Hero@2x.png");
}
.hero-section {
  width: 100%;
  min-height: 550px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.hero-caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-align: left;
  max-width: 700px;
}
.hero-caption p {
  color: #fff;
  max-width: 700px;
}
.hero-caption h1 {
  color: #fff;
  margin-bottom: 1rem
}
.blue-partners-square-img {
  background-image: url("../assets/img/cloud-services.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.blue-delivers-square-img {
  background-image: url("../assets/img/rectangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/img/bottom_graphic1.jpg");
  bottom: 0;
  min-height: 350px;
  padding: 75px 50px 50px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap
}
.nav-transparent {
  background: transparent!important;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, .9)
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #fff
}
.headerBody .navbar .navbar-brand {
  padding: 1.3rem 0 0 18rem;
  margin: 0
}
.headerBody .navbar .navbar-brand .logo,
.headerBody .navbar .navbar-brand .logo img {
  margin: 0;
  padding: 0
}
.headerBody .navbar .navbar-brand {
  padding: 1.3rem 0 0 18rem;
  margin: 0
}
.headerBody .navbar .navbar-brand .logo,
.headerBody .navbar .navbar-brand .logo img {
  margin: 0;
  padding: 0
}
@media (max-width:1399.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 6rem
  }
}
@media (max-width:1199.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 4rem
  }
}
@media (max-width:991.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 2rem
  }
}
@media (max-width:767.98px) {
  .headerBody .navbar .navbar-brand {
    padding: 1.3rem 0 0 1rem
  }
}
.headerBody .navbar .nav-pills {
  background: #fff;
  transform: skew(-45deg);
  position: relative;
  right: -3.5em;
  width: 925px;
  display: inline-flex
}
.nav-pills {
  color: #F2F2F2;
  z-index: 999;
}
.headerBody .navbar .nav-pills .nav-item {
  transform: skew(0deg)
}
.headerBody .navbar .nav-pills .nav-item .nav-link {
  border-radius: 0;
  color: #2b3175;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 2rem 2rem .75rem;
  text-align: center;
  background-color: transparent;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .nav-link .navitemhighlight {
  transform: skew(45deg);
  width: 85px;
  outline: none
}
@media (max-width:991.98px) {
  .headerBody .navbar .nav-pills .nav-item .nav-link .navitemhighlight {
    transform: skew(0deg);
    width: 100%;
    padding: 0 1rem
  }
}
.headerBody .navbar .nav-pills .nav-item .nav-link:hover {
  color: #e86a24;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .nav-link:active,
.headerBody .navbar .nav-pills .nav-item .nav-link:focus {
  outline: none
}
	
@media (max-width:991.98px) {
  .headerBody .navbar .nav-pills .nav-item .nav-link {
    padding: .75rem 0;
    text-align: center;
    display: block;
    width: 100%
  }
}	
.headerBody .navbar .nav-pills .nav-item .nav-link.active,
.headerBody .navbar .nav-pills .nav-item .show>.nav-link {
  color: #fff;
  background-color: #e86a24
}

.headerBody .navbar .nav-pills .nav-item .langSelect {
  transform: skew(45deg);
  padding: .75rem 1rem 0;
  text-align: center;
  min-width: 150px
}
	
.headerBody .navbar .nav-pills {
  background: #fff;
  transform: skew(-45deg);
  position: relative;
  right: -3.5em;
  width: 925px;
  display: inline-flex
}

.headerBody .navbar .nav-pills .nav-item {
  transform: skew(0deg)
}
	
.headerBody .navbar .nav-pills .nav-item .nav-link {
  border-radius: 0;
  color: #2b3175;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 2rem 2rem .75rem;
  text-align: center;
  background-color: transparent;
  outline: none
}

.headerBody .navbar .nav-pills .nav-item .nav-link .navitemhighlight {
  transform: skew(45deg);
  width: 85px;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .nav-link.active,
.headerBody .navbar .nav-pills .nav-item .show>.nav-link {
  color: #fff;
  background-color: #e86a24
}
.headerBody .navbar .nav-pills .nav-item .langSelect a:hover {
  color: #e86a24;
  opacity: 1;
  transition: opacity .5s ease-in-out
}
.headerBody .navbar .nav-pills .nav-item .langSelect .active {
  opacity: 1;
  transition: opacity .5s ease-in-out
}
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary {
  display: block;
  width: 80%;
  text-align: center;
  font-weight: 700;
  opacity: 1;
  margin: 0 auto .25rem;
  background-color: #2b3175;
  color: #fff;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  border-color: #2b3175;
  
  background-repeat: no-repeat;
  background-position: 100% 95%;
  background-size: 10px 10px;
  transition: background-color .5s ease-in-out;
  outline: none
}
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary:hover {
  background: #e86a24;
  border-color: #e86a24;
  color: #fff;
  transition: background-color .5s ease-in-out
}
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary:active,
.headerBody .navbar .nav-pills .nav-item .langSelect .btn-primary:focus {
  outline: none
}

.outline-something {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

.icon-css-tony {
  margin: auto;
  width: 4.5em;
  position: relative;
  bottom: 35px;
  display: flex;
}
.cards-margin {
  
}
.hero-section:before{
  content:'';
  position:absolute;
  left:0;
  background: white ;
  width:100%;
  height:90px;
  -moz-background-size:100% 45px;
  -webkit-background-size:100% 45px;
  background-size:100% 45px;
  clip-path: polygon(49% 100%, 34% 0, 100% 0, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 100%);
}
.tony-z-index {
  z-index: 333;
}
.col {
  text-align: center;
}
.col > p {
  text-align: left;
  margin-bottom: 24
}
.tony-table-section {
  display: flex;
  flex-wrap: wrap;
}
.tony-table-section  > h3 {
  color:#E86A24;
}
.tony-table-section .col {
  flex: 1 1 auto;
}
.tony-table-section .line-break {
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}
.dot {
  height: 25px;
  width: 25px;
  background-color:#E86A24;
  border-radius: 50%;
  display: inline-block;
}
.tony-span-table {
  display: flex;
  justify-content: space-evenly;
}
.tony-table-section {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .hero-section:before {
  } 
  .flex {
    display: flex;
  }
  .icon-css-tony {
    width: 4.5em;
    position: static;
  }
  .tony-css {
    display: flex;
    margin-left: 18px;
  }
}

.blue-border {
  position:relative;
  width: 100px;
  height: 100px;
  overflow:hidden;
  border: '';
  background: #522d5b;
  clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  )
}
.poligon {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  background: red;
  box-sizing: border-box;
  -webkit-clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
  clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
}
.poligon img {
  position: absolute;
  top: 2px; /* equal to border thickness */
  left: 2px; /* equal to border thickness */
  width: 146px; /* container height - (border thickness * 2) */
  height: 146px; /* container height - (border thickness * 2) */
  -webkit-clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
  clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
}
